@font-face {
	font-family: "Nunito";
	font-weight: 700;
	src: url("/plon/fonts/Nunito-Bold.ttf")
}

@font-face {
	font-family: "Montserrat";
	font-weight: 400;
	src: url("/plon/fonts/Montserrat-Regular.ttf")
}

@font-face {
	font-family: "Montserrat";
	font-weight: 700;
	src: url("/plon/fonts/Montserrat-Bold.ttf")
}

@font-face {
	font-family: "Inconsolata";
	font-weight: 400;
	src: url("/plon/fonts/Inconsolata-Regular.ttf")
}

body {
	font-family: "Montserrat";
	font-size: 28px;
	color: var(--main-font) !important;
	background-color: var(--main-bg1);
	margin: 0;
	padding: 0;
}

@media only screen and (min-width: 1080px) {
	body {
		font-size: 18px;
	}
}

h1 {
	margin: 0;
}

.logo {
	box-shadow: 0px 0px 5px var(--main-font);
	height: 10vh;
	line-height: 10vh;
}

h1#logo {
	font-family: "Nunito";
	font-size: 2em;
	margin-left: 10vw;
	width: 70vw;
	float: left;
}

button#toggle {
	margin-right: 10vw;
	height: 10vh;
	width: 10vw;
	border: none;
	border-radius: none;
	color: var(--main-font);
	background-color: var(--main-bg1);
}

.container {
	height: 80vh;
	width: 70vw;
	margin: auto;
	display: flex;
	flex-flow: column;
}

.container#user, .container#task {
	height: 75vh;
	margin-top: 5vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.container#edit {
	justify-content: space-around;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	opacity: 0.0;
}

::-webkit-scrollbar-thumb {
	background-color: var(--main-bg1);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: darkgray;
}

label {
	font-size: 1.25em;
}

textarea {
	font-family: "Inconsolata";
	font-size: 1.25em;
	height: 50vh;
	width: 98%;
	padding: 1%;
	resize: none;
	border: 2px dashed var(--main-font);
	background-color: var(--main-bg0);
	color: var(--main-font);
}

.input {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.input#user {
	width: 32vw;
	margin-right: 1vw;
	align-self: flex-end;
}

.input#add, .input#edit, .input#task {
	height: 10vh;
	width: 70vw;
	margin: auto;
}

.input#add, .input#task {
	justify-content: flex-end;
}

input[name=addressees] {
	height: 1.5em;
	width: 1.5em;
	padding: 0.25em;
	margin-left: 2vw;
	margin-right: 1vw;
}

input[type=text], input[type=datetime-local] {
	font-family: "Montserrat";
	font-size: 1em;
	margin: 0 1vw;
	padding: 0.25em 0.5em;
	border: none;
	border-bottom: 2px dashed var(--main-font);
	background-color: var(--main-bg0);
	color: var(--main-font);
}

input[type=submit], button {
	font-family: "Montserrat";
	font-size: 1em;
	height: 5vh;
	width: 15vw;
	border: 1px solid;
	border-radius: 10px;
	color: var(--main-font);
	background-color: var(--main-bg0);
}

button#more {
	border-color: lightblue;
}

button#edit {
	border-color: plum;
}

input#add, button#add {
	border-color: lightgreen;
}

input#delete {
	border-color: lightcoral;
}

button#more:hover {
	background-color: lightblue;
	color: var(--button-font-hover);
}

button#edit:hover {
	background-color: plum;
	color: var(--button-font-hover);
}

input#add:hover, button#add:hover {
	background-color: lightgreen;
	color: var(--button-font-hover);
}

input#delete:hover {
	background-color: lightcoral;
	color: var(--button-font-hover);
}

button#back:hover {
	background-color: var(--main-font);
	color: var(--button-font-hover);
}

.animate-top {
  position: relative;
  animation-name: animatetop;
  animation-duration: 0.5s
}

@keyframes animatetop {
  from{ top:-100px; opacity:0 }
  to{ top:0; opacity:1 }
}

.animate-bottom {
  position: relative;
  animation-name: animatebottom;
  animation-duration: 0.5s
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}
