<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html">
<link rel="icon" type="image/png" href="/plon/icon-192x192.png">
<link rel="stylesheet" href="/plon/styles.css">
<title>Plon</title>
</head>
<body>
<div class="logo animate-top">
	<h1 id="logo">Plon - Dodaj zadanie</h1>
</div>
<div class="animate-bottom">
	<form class="container" id="edit" action="/plon/save/{{.Id}}" method="POST">
		<div>
			<label for="title">Tytuł:</label>
			<input type="text" id="title" name="title" autocomplete="off" value="{{.Title}}">
		</div>

		<div>
			<label for="task">Zadanie:</label><br>
			<textarea id="task" name="task" autocomplete="off">{{.Task}}</textarea>
		</div>

		<div>
			<label for="addressees">Osoby:</label>

			{{range .Usernames}}
			<input type="checkbox" id="{{.}}" name="addressees" value="{{.}}">
			<label for="{{.}}">{{.}}</label>
			{{end}}

			{{range $key, $element := .Addressees}}
			<input type="checkbox" id="{{$key}}" name="addressees" value="{{$key}}" checked>
			<label for="{{$key}}">{{$key}}</label>
			{{end}}
		</div>

		<div>
			<label for="due">Czas:</label>
			<input type="datetime-local" id="due" name="due">
		</div>
	</form>
	<div class="input" id="edit">
		<button type="button" id="add" onclick="document.getElementById('edit').submit()">Dodaj</button>
		{{if .Deletable}}
		<form action="/plon/delete/{{.Id}}" method="POST">
			<input type="submit" id="delete" value="Usuń">
		</form>
		{{end}}
		<button type="button" id="back" onclick="window.location.assign('/plon/')">Powrót</button>
	</div>
</div>
</body>
</html>
