<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html">
<link rel="icon" type="image/png" href="/plon/icons/favicon.png">
<link rel="manifest" href="/plon/plon.webmanifest">
<link rel="stylesheet" href="/plon/styles.css">
<link rel="stylesheet" href="/plon/markdown.css">
<link rel="stylesheet" id="theme">
<script src="/plon/cookies.js"></script>
<title>Plon</title>
</head>
<body>
<div class="logo animate-top">
	<h1 id="logo">Plon - {{.Title}}</h1>
	<button id="toggle" onclick="toggleTheme()">💡</button>
</div>
<div class="container animate-bottom" id="task">
	<div class="markdown-body">
		{{.Task}}
	</div>
</div>
<div class="input" id="task">
	<button type="button" id="back" onclick="window.location.assign('/plon/')">Powrót</button>
</div>
</body>
</html>
